#clock {
    font: monospace;
    font-size: 40px;
    width: 200px;
    margin: 80px;
    text-align: center;
    border: 1px solid black;
}

.images {
    text-align: center;
}

.header {
     text-align: center;
     background-color: blue;
}

.footer {
    background-color: red;
}
