#clock {
    font: monospace;
    font-size: 40px;
    width: 200px;
    margin: 80px auto;
    display: flex;
    text-align: center;
    border: 1px solid black;
}

#images {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
     text-align: center;
     background-color: blue;
}

footer {
    background-color: red;
}
